@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 100,200,300,400,500,600,700,800,900;
  font-style: normal;
}

*{
  margin: 0px;
  padding: 0px;
  list-style: none;
  color : #333;
  text-decoration: none;
  font-family: "Pretendard-Regular";
  box-sizing: border-box;
}
html,body{
  width: 100%;

  /* overflow를 clip으로 & overflow-y 만 visible 하여 X축의 overflow만 제거하도록 */
  overflow: clip;
  overflow-y: visible;
  margin: 0px;
  font-size: 15px; /* 15px = 1rem */
}
section{
  background-color: white;
}
:root{
  --inner-size : 1280px;

  /* size - html 기본값 16px 기준*/
  --h1-size: 3.50rem; /* 56px; */
  --h2-size: 3.0rem;/* 45px */
  --h3-size: 2.47rem;/* 37px */
  --h4-size: 1.87rem;/* 28px */
  --h5-size: 1.6rem;/* 24px */
  --p-size: 1.40rem;/* 21px */
  --span-size: 1.20rem;/* 18px */
  --body-size: 1.0rem;/* 15px */
  --small-size: 0.87rem; /* 13px */
  /* color */
  --point-color1 : #FF5000;
  --point-color2 : #1D9CD1;
  --border-color1 : #eee;
  --border-color2 : #333; 
  --mascot-color : #FDADA6;
  --light-text-color1 : #666;
  --light-text-color2 : #BBB;
}

.inner{
  width: 1280px;
  margin: auto;
}

h1{
  font-size: var(--h1-size);
  font-weight: bold;
}
h2{
  font-size: var(--h2-size);
  font-weight: bold;
}
h3{
  font-size: var(--h3-size);
  font-weight: 500;
}
h4{
  font-size: var(--h4-size);
  font-weight: 500;
}
h5{
  font-size: var(--h5-size);
  font-weight: 500;
}
p{
  font-size : var(--p-size);
  font-weight: 400;
}
span{
  font-size: var(--span-size);
  font-weight: 300;
}

button{
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

point{
  color : var(--point-color1);
}
point2{
  color : var(--point-color2);
}


@media screen and (max-width:960px) {
  .section_name{
    font-size : var(--h3-size);
    text-align: center;
  }
  .section_sub_name{
    display: block;
    width: 85%;
    margin: auto;
    font-size : var(--span-size);
    text-align: center;
  }
  .link_button{
    margin : auto;
  }
}


/* @media screen and (max-width:545px) {
  .section_name{
    font-size : var(--h4-size);
  }
  .section_sub_name{
    font-size : var(--body-size);
  }
} */
